<div class="container">
  <mat-slide-toggle class="slider" [(ngModel)]="showTable">Show pronouns formatting</mat-slide-toggle>

  @if (showTable) {
    <div class="floating-help">
      <mat-table class="table" [dataSource]="data">
        <ng-container matColumnDef="p1_1">
          <mat-header-cell *matHeaderCellDef>&#123;p1_1&#125;</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.p1_1 }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="p1_1+">
          <mat-header-cell *matHeaderCellDef>&#123;p1_1+&#125;</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.p1_1plus }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="p1_2">
          <mat-header-cell *matHeaderCellDef>&#123;p1_2&#125;</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.p1_2 }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="p1_3">
          <mat-header-cell *matHeaderCellDef>&#123;p1_3&#125;</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.p1_3 }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="p1_4">
          <mat-header-cell *matHeaderCellDef>&#123;p1_4&#125;</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.p1_4 }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="p1_w">
          <mat-header-cell *matHeaderCellDef>&#123;p1_w&#125;</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.p1_w }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="mergedFooter">
          <mat-footer-cell *matFooterCellDef colspan="8">
            Plus can be used in all patterns. <br>
            &#123;p1&#125; will be replaced with player name. <br>
            &#123;item&#125; will be replaced with item name. <br>
            &#123;p1_is&#125; works like &#123;p1_w&#125; but is replaced with is/are.<br>
          </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['mergedFooter']"></mat-footer-row>
      </mat-table>
    </div>
  }
</div>
