<div class="content">
    <form>
        <app-main-era-info [formGroup]="formGroup" />
    </form>

    <div class="form-row">
        <button mat-raised-button color="primary" (click)="buildEra()">Build</button>
    </div>

    <h2>Ouput:</h2>
    <div class="form-row">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" class="output" style="resize: none;" #JSONOutput [value]="eraJson"></textarea>
    </div>

    <div class="form-row">
        <button mat-raised-button color="secondary" (click)="loadEra(JSONOutput.value)">Load</button>
    </div>
</div>
