@import "../../../variables.less";

.content {
    padding: 1em;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.output {
    width: 90%;
}

.mg-bottom {
    margin-bottom: 30px;
}

.border {
    border: 1pt solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

.tab-icon {
    margin-right: 10px;
    color: @secondary-color;
}

.phrase-container {
    position: relative;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

mat-form-field {
    min-width: 50%;
    max-width: 90%;
}

.item-add mat-form-field {
    margin-right: 20px;
}

.buttons button {
    margin-right: 1em;
}

.preview-slider {
    margin-bottom: 10px;
    margin-top: 5px;
}
