<div class="content">
    <form>
        <h1>Main info</h1>

        <div class="mg-bottom border">
            <app-main-era-info [formGroup]="formGroup" />
        </div>

        <div class="phrase-container">
            <div class="top-container">
                <h1 class="title">Phrases</h1>
                <app-help-table class="help-table" />
            </div>

            <mat-tab-group class="mg-bottom border">
                <mat-tab>
                    <ng-template mat-tab-label>
                        Loading phrases
                        <mat-icon icon *ngIf="loadingPhrasesFormArray.touched && loadingPhrasesFormArray.invalid"
                            class="tab-icon" fontIcon="warning" />
                    </ng-template>
                    <app-phrase-builder-section
                        infoText="Loading texts used in the countdown embeds. Three dots (...) will be automatically added after each phrase, do not include them here."
                        [placeholders]="samplePhrases.loading" [playerCount]="0"
                        [phraseFormArray]="loadingPhrasesFormArray" [phraseForm]="era?.loadingPhrases ?? []" />
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        Kill phrases
                        <mat-icon icon *ngIf="killPhrasesFormArray.touched && killPhrasesFormArray.invalid"
                            class="tab-icon" fontIcon="warning" />
                    </ng-template>
                    <app-phrase-builder-section infoText="Kill phrases - must include two players ({p1} and {p2})"
                        [placeholders]="samplePhrases.kill" [playerCount]="2" [phraseFormArray]="killPhrasesFormArray"
                        [phraseForm]="era?.killPhrases ?? []" />
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        Revive phrases
                        <mat-icon icon *ngIf="revivePhrasesFormArray.touched && revivePhrasesFormArray.invalid"
                            class="tab-icon" fontIcon="warning" />
                    </ng-template>
                    <app-phrase-builder-section infoText="Revive phrases - must include one player ({p1})"
                        [placeholders]="samplePhrases.revive" [playerCount]="1"
                        [phraseFormArray]="revivePhrasesFormArray" [phraseForm]="era?.revivePhrases ?? []" />
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        Death phrases
                        <mat-icon icon *ngIf="deathPhrasesFormArray.touched && deathPhrasesFormArray.invalid"
                            class="tab-icon" fontIcon="warning" />
                    </ng-template>
                    <app-phrase-builder-section infoText="Death phrases - must include one player ({p1})"
                        [placeholders]="samplePhrases.death" [playerCount]="1" [phraseFormArray]="deathPhrasesFormArray"
                        [phraseForm]="era?.deathPhrases ?? []" />
                </mat-tab>
            </mat-tab-group>
        </div>

    </form>


    <div class="form-row">
        <button type="button" mat-raised-button color="accent" (click)="buildEra()">Build</button>
    </div>

    <h2>Ouput:</h2>
    <div class="form-row">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" class="output" style="resize: none;" #JSONOutput
            [value]="eraJson"></textarea>
    </div>

    <div class="form-row">
        <button type="button" mat-raised-button color="accent" (click)="loadEra(JSONOutput.value)">Load</button>
    </div>

</div>
