<div class="content">
  <div class="form-row buttons">
    <button type="button" mat-raised-button color="primary" (click)="downloadEra()">
      Download Era File
    </button>

    <input type="file" accept="application/JSON" (change)="onFileChange($event)" #file hidden />
    <button type="button" mat-raised-button color="primary" (click)="file.click()">
      Upload Era File
    </button>
  </div>

  <form>
    <h1>Main Info</h1>

    <div class="mg-bottom border">
      <app-main-era-info [formGroup]="formGroup" />
    </div>

    <div class="phrase-container">
      <div class="top-container">
        <h1 class="title">Phrases</h1>
        <app-help-table class="help-table" />
      </div>

      <mat-tab-group class="mg-bottom border">
        <mat-tab>
          <ng-template mat-tab-label>
            Loading phrases
            @if (loadingPhrasesFormArray.touched && loadingPhrasesFormArray.invalid) {
              <mat-icon icon class="tab-icon" fontIcon="warning" />
            }
          </ng-template>
          <app-phrase-builder-section
            infoText="Loading texts used in the countdown embeds. Three dots (...) will automatically be added after each phrase, do not include them here."
            [placeholders]="samples.loading"
            [playerCount]="0"
            [phraseFormArray]="loadingPhrasesFormArray"
            [phraseForm]="era?.loadingPhrases ?? []"
          />
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            Kill phrases
            @if (killPhrasesFormArray.touched && killPhrasesFormArray.invalid) {
              <mat-icon icon class="tab-icon" fontIcon="warning" />
            }
          </ng-template>
          <app-phrase-builder-section
            infoText="Phrases describing one player killing another. Must include two players - {p1} and {p2}. {p1} is the attacker and {p2} gets killed."
            [placeholders]="samples.kill"
            [playerCount]="2"
            [phraseFormArray]="killPhrasesFormArray"
            [phraseForm]="era?.killPhrases ?? []"
          />
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            Death phrases
            @if (deathPhrasesFormArray.touched && deathPhrasesFormArray.invalid) {
              <mat-icon icon class="tab-icon" fontIcon="warning" />
            }
          </ng-template>
          <app-phrase-builder-section
            infoText="Phrases for when a player dies, either due to their own actions or external factors, but not caused by other players. Must include exactly one player - {p1}."
            [placeholders]="samples.death"
            [playerCount]="1"
            [phraseFormArray]="deathPhrasesFormArray"
            [phraseForm]="era?.deathPhrases ?? []"
          />
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            Revive phrases
            @if (revivePhrasesFormArray.touched && revivePhrasesFormArray.invalid) {
              <mat-icon icon class="tab-icon" fontIcon="warning" />
            }
          </ng-template>
          <app-phrase-builder-section
            infoText="Phrases describing a player being revived. Must include exactly one player - {p1}."
            [placeholders]="samples.revive"
            [playerCount]="1"
            [phraseFormArray]="revivePhrasesFormArray"
            [phraseForm]="era?.revivePhrases ?? []"
          />
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            Life phrases
            @if (lifePhrasesFormArray.touched && lifePhrasesFormArray.invalid) {
              <mat-icon icon class="tab-icon" fontIcon="warning" />
            }
          </ng-template>
          <app-phrase-builder-section
            infoText="Narrative phrases - actions occurring to or being performed by a single player. These are non-gameplay events. Must include exactly one player - {p1}."
            [placeholders]="samples.life"
            [playerCount]="1"
            [phraseFormArray]="lifePhrasesFormArray"
            [phraseForm]="era?.lifePhrases ?? []"
          />
        </mat-tab>
      </mat-tab-group>
    </div>

    <div>
      <h1 class="title">Item Phrases</h1>

      <div class="form-row item-add">
        <mat-form-field appearance="outline">
          <mat-label>Item Name</mat-label>
          <input
            [placeholder]="$any(samples.items | randomElement) | titlecase"
            type="text"
            matInput
            [(ngModel)]="newItemName"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
        <button type="button" mat-raised-button color="primary" (click)="addItem()">
          Add Item
        </button>
      </div>

      @if (itemFormArray.length === 0) {
        <div class="mg-bottom border">No items added. Use the button above.</div>
      }

      @if (itemFormArray.length !== 0) {
        <mat-tab-group class="mg-bottom border">
          @for (fg of itemFormArray.controls; track fg; let index = $index) {
            <mat-tab>
              <ng-template mat-tab-label>
                {{ $any(fg).value.name | titlecase }}
                @if (fg.touched && fg.invalid) {
                  <mat-icon icon class="tab-icon" fontIcon="warning" />
                }
              </ng-template>
              <app-item-builder-section
                [formGroup]="$any(fg)"
                [id]="index"
                (removeItem)="removeItem($event)"
                [killPhraseForm]="era?.items?.[index]?.killPhrases ?? []"
                [obtainPhraseForm]="era?.items?.[index]?.obtainPhrases ?? []"
                [placeholder]="$any(samples.massKill | randomElement) | titlecase"
              />
            </mat-tab>
          }
        </mat-tab-group>
      }
    </div>

    <div>
      <h1 class="title">Mass Kill Events</h1>

      <div class="form-row item-add">
        <mat-form-field appearance="outline">
          <mat-label>Event Name</mat-label>
          <input
            [placeholder]="$any(samples.massKill | randomElement) | titlecase"
            type="text"
            matInput
            [(ngModel)]="newMassKillEventName"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
        <button type="button" mat-raised-button color="primary" (click)="addMassKillEvent()">
          Add Kill Event
        </button>
      </div>

      @if (massKillFormArray.length === 0) {
        <div class="mg-bottom border">No events added. Use the button above.</div>
      }

      @if (massKillFormArray.length !== 0) {
        <mat-tab-group class="mg-bottom border">
          @for (fg of massKillFormArray.controls; track fg; let index = $index) {
            <mat-tab>
              <ng-template mat-tab-label>
                {{ $any(fg).value.name | titlecase }}
                @if (fg.touched && fg.invalid) {
                  <mat-icon icon class="tab-icon" fontIcon="warning" />
                }
              </ng-template>
              <app-mass-event-builder-section
                [formGroup]="$any(fg)"
                [id]="index"
                (removeItem)="removeMassKillEvent($event)"
                [phraseForm]="era?.massKill?.[index]?.phrases ?? []"
                [placeholder]="$any(samples.massKill | randomElement) | titlecase"
              />
            </mat-tab>
          }
        </mat-tab-group>
      }
    </div>

    <div>
      <h1 class="title">Mass Revive Events</h1>

      <div class="form-row item-add">
        <mat-form-field appearance="outline">
          <mat-label>Event Name</mat-label>
          <input
            [placeholder]="$any(samples.massRevive | randomElement) | titlecase"
            type="text"
            matInput
            [(ngModel)]="newMassReviveEventName"
            [ngModelOptions]="{ standalone: true }"
          />
        </mat-form-field>
        <button type="button" mat-raised-button color="primary" (click)="addMassReviveEvent()">
          Add Revive Event
        </button>
      </div>

      @if (massReviveFormArray.length === 0) {
        <div class="mg-bottom border">No events added. Use the button above.</div>
      }

      @if (massReviveFormArray.length !== 0) {
        <mat-tab-group class="mg-bottom border">
          @for (fg of massReviveFormArray.controls; track fg; let index = $index) {
            <mat-tab>
              <ng-template mat-tab-label>
                {{ $any(fg).value.name | titlecase }}
                @if (fg.touched && fg.invalid) {
                  <mat-icon icon class="tab-icon" fontIcon="warning" />
                }
              </ng-template>
              <app-mass-event-builder-section
                [formGroup]="$any(fg)"
                [id]="index"
                (removeItem)="removeMassReviveEvent($event)"
                [phraseForm]="era?.massRevive?.[index]?.phrases ?? []"
                [placeholder]="$any(samples.massRevive | randomElement) | titlecase"
              />
            </mat-tab>
          }
        </mat-tab-group>
      }
    </div>
  </form>

  <div class="form-row buttons">
    <button type="button" mat-raised-button color="primary" (click)="downloadEra()">
      Download Era File
    </button>

    <input type="file" accept="application/JSON" (change)="onFileChange($event)" #file hidden />
    <button type="button" mat-raised-button color="primary" (click)="file.click()">
      Upload Era File
    </button>
  </div>

  <mat-slide-toggle class="slider preview-slider" [(ngModel)]="showPreview"
    >Toggle preview</mat-slide-toggle
  >
  @if (showPreview) {
    <h1>Preview</h1>
    <div class="form-row buttons">
      <button type="button" mat-raised-button color="accent" (click)="buildEra()">
        Build Preview
      </button>
      <button type="button" mat-raised-button color="accent" (click)="loadEra(JSONOutput.value)">
        Load From Preview
      </button>
    </div>
    <div class="form-row">
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        class="output"
        style="resize: none"
        #JSONOutput
        [value]="eraJson"
      ></textarea>
    </div>
  }
</div>
