<form [formGroup]="formGroup">
  <div class="form-row item-name">
    <mat-form-field appearance="outline">
      <mat-label>Event Name</mat-label>
      <input
        [placeholder]="placeholder"
        type="text"
        matInput
        [formControl]="$any(formGroup.controls.name)"
      />
      <mat-hint>Provide a short name for the event.</mat-hint>
      @if (formGroup.controls.name.errors) {
        <mat-error>
          {{ formGroup.controls.name.errorMessage }}
        </mat-error>
      }
    </mat-form-field>

    <button type="button" mat-raised-button color="warn" (click)="tryRemoveItem()">
      Remove Event
    </button>
  </div>

  <div class="form-row event-image">
    <mat-form-field appearance="outline">
      <mat-label>Icon</mat-label>
      <input
        placeholder="https://example.com/image.png"
        type="url"
        matInput
        [formControl]="$any(formGroup.controls.image)"
      />
      <mat-hint>Provide a link to an image to be used for the event.</mat-hint>
      @if (formGroup.controls.image.errors) {
        <mat-error>
          {{ formGroup.controls.image.errorMessage }}
        </mat-error>
      }
    </mat-form-field>

    @if (formGroup.controls.image.valid) {
      <app-image-preview class="image-preview" [imageUrl]="formGroup.controls.image.value" />
    }
  </div>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Event Phrases
        @if (formGroup.controls.phrases.touched && formGroup.controls.phrases.invalid) {
          <mat-icon icon class="tab-icon" fontIcon="warning" />
        }
      </ng-template>
      <app-phrase-builder-section
        infoText="Phrases for this event. Event phrases contain no patterns. The list of players is added automatically."
        [playerCount]="0"
        [phraseFormArray]="$any(formGroup.controls.phrases)"
        [phraseForm]="phraseForm"
      />
    </mat-tab>
  </mat-tab-group>
</form>
