<form [formGroup]="formGroup">
  <div class="form-row item-name">
    <mat-form-field appearance="outline">
      <mat-label>Event Name</mat-label>
      <input
        [placeholder]="placeholder"
        type="text"
        matInput
        [formControl]="$any(formGroup.controls.name)"
      />
      <mat-hint>Provide a short name for the event.</mat-hint>
      @if (formGroup.controls.name.errors) {
        <mat-error>
          {{ formGroup.controls.name.errorMessage }}
        </mat-error>
      }
    </mat-form-field>

    <button type="button" mat-raised-button color="warn" (click)="tryRemoveItem()">
      Remove Event
    </button>
  </div>

  <div class="form-row">
    <!-- <mat-form-field appearance="outline">
        <mat-label>Emoji</mat-label>
        <input
          placeholder="&lt;:leghorse:123456789&gt;"
          type="url"
          matInput
          [formControl]="$any(formGroup.controls.emoji)"
        />
        <mat-hint
          >Provide emoji for this item. Use the Discord format of
          &lt;:name:id&gt;.<br />RR bot must be in the server where the emoji is
          uploaded.</mat-hint
        >
        @if (formGroup.controls.emoji.errors) {
          <mat-error>
            {{ formGroup.controls.emoji.errorMessage }}
          </mat-error>
        }
      </mat-form-field> -->
  </div>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Event Phrases
        @if (formGroup.controls.phrases.touched && formGroup.controls.phrases.invalid) {
          <mat-icon icon class="tab-icon" fontIcon="warning" />
        }
      </ng-template>
      <app-phrase-builder-section
        infoText="Phrases for this event. Event phrases contain no patterns. The list of players is added automatically."
        [playerCount]="0"
        [phraseFormArray]="$any(formGroup.controls.phrases)"
        [phraseForm]="phraseForm"
      />
    </mat-tab>
  </mat-tab-group>
</form>
