<div class="guide">
  <h1>What is Rumble Royale?</h1>
  <p>
    Rumble Royale is the #1 Battle Royale simulator on Discord! This page serves as a tool for
    creating custom eras. For more information about Rumble Royale, please visit our
    <a href="https://rumbleroyale.net">website</a> or join our
    <a href="https://discord.gg/EGUgz5EZVp">Discord server</a>!
  </p>
  <h1>Custom Eras</h1>
  <p>
    Rumble Royale battles can be started in various eras, each era features unique weapons, actions,
    and events. In the Futuristic era, you might find yourself in a shootout with a blaster while
    aliens invade the arena! In the Magical era, you could encounter dragons swarming the arena
    while you search for your lost wand!
  </p>
  <p>
    <strong>Official eras</strong>, created by our team, are unlockable for everyone, with season
    passes and progression tied to them. <strong>Custom eras</strong> allow you to personalize and
    create unique experience for your server. They can reflect your server's unique interests, fun
    memories, or passions. A game your members play? A music band they love?
  </p>
  <hr />
  <h1>Custom Era Creation Walkthrough</h1>
  <p>
    Ever played Rumble and thought, "I wish this had a Cake era"? No? Let's create it together
    anyway!
  </p>
  <h2>Main Information</h2>
  <p>
    Start by entering a short and clear era name. Then, pick a color for the Discord embeds using
    the color circle on the right. We have to go for pink here... Next, select a nice cake image as
    an icon and add a corresponding emoji. Avoid using Discord links for images, they might expire.
    Instead, use a hosting service like Imgur. For emojis, use a standard one from your keyboard.
    You can also use a custom Discord emoji. But you need to get its ID. To get it, go to Discord
    and send \ (backslash) followed by the emoji. It should look like
    <code><:cake:889150097873576006></code>. If you choose to use a Discord emoji, please make sure
    the bot is in the same server, otherwise it will not display properly.
  </p>
  <img src="assets/images/guide/main_info.png" alt="Main info preview" width="700px" />
  <h2>Phrases</h2>
  <p>
    Now it's time to unleash your inner writer! By now you must have noticed the bot fills in player
    names, titles and pronouns. You have to specify where they go. But don't worry, it's quite
    straightforward. Different types of phrases require different patterns filled in. Kill phrases
    need two players, while revive phrase only require one. Each section contains a description of
    what to include. Toggle the "Show pronouns formatting" button for a handy formatting guide
    that's always on your screen. If you miss something, the website will display a warning and let
    you know what to fix.
  </p>
  <img src="assets/images/guide/phrases.png" alt="Phrases preview" width="1000px" />
  <h2>Items</h2>
  <p>
    Every battle needs some fun and deadly weapons. Let's add a cake bomb! Enter the name and hit
    "Add Item". Choose some cool emoji, like we have already done once. You will need to include two
    types of phrases. Item Unlock Phrases for when a player gets the item, and Item Kill Phrases for
    when it's used to make a kill.
  </p>
  <p>
    Remember to follow the formatting. For example, Item Unlock phrases requires you to use
    "__&#123;item&#125;__" instead of the item name.
  </p>
  <img src="assets/images/guide/item.png" alt="Item preview" width="1000px" />
  <h2>Mass Events</h2>
  <p>
    There are two types of mass events you can add to your era. One kills and the other revives a
    higher number of players. Each requires a name and an image icon. Mass events are optional, and
    you can leave them empty. However, if you create one type of mass event, you must create one for
    the other type as well. Otherwise, they won't appear in battle.
  </p>
  <img src="assets/images/guide/events.png" alt="Events preview" width="1000px" />
  <h2>Discord Setup</h2>
  <p>
    It's time to upload your new era to the bot. Click the big <strong>Download Era</strong> button
    to download a file ending in <code>.json</code>. Never edit this file manually. If you ever want
    to make changes, upload the file back to the website using the
    <strong>Upload Era File</strong> button. With your file ready, go to Discord and use
    <code>/custom upload</code> slash command. Attach the file.
  </p>
  <img src="assets/images/guide/upload.png" alt="Upload" width="400px" />
  <p>If you are updating it, fill in the <code>replace</code> argument.</p>
  <img src="assets/images/guide/update.png" alt="Update" width="400px" />
  <p>
    Your era is now ready to be started! Unlike regular eras, custom eras must be started with the
    <code>/battle-custom</code> command. It works like the regular one, allowing you to start a
    normal or staff battle.
  </p>
  <img src="assets/images/guide/start.png" alt="Custom era battle" width="400px" />
</div>
