<div class="faq">
  <h1>Frequently Asked Questions</h1>
  <h2>What is Rumble Royale?</h2>
  <p>
    Rumble Royale is the #1 Battle Royale simulator on Discord! This page serves as a tool for
    creating custom eras. For more information about Rumble Royale, please visit our
    <a href="https://rumbleroyale.net">website</a> or join our
    <a href="https://discord.gg/EGUgz5EZVp">Discord server</a>!
  </p>

  <h2>What are custom eras and how do I create one?</h2>
  <p>
    Read our <a [routerLink]="['/guide']">guide</a> please. If you still have any questions, please
    reach out to us in our <a href="https://discord.gg/EGUgz5EZVp">Discord server</a>. You can open
    a ticket in <code>#support</code> channel.
  </p>

  <h2>Are custom eras available to everyone?</h2>
  <p>
    Custom eras are a premium feature that require an active subscription. This subscription
    supports the necessary customer support, moderation, and reviews for custom eras. Additionally,
    by purchasing the subscription you support further development and our team!
  </p>

  <h2>Are there any rules? What can my custom era contain?</h2>
  <p>
    Custom eras must follow terms of service set by
    <a href="https://discord.com/terms">Discord</a> and
    <a href="https://rumbleroyale.net/terms-of-service">Rumble Royale</a>. <br />
  </p>
  <strong>Following is strictly forbidden:</strong>
  <ul>
    <li>Any form of adult or NSFW content.</li>
    <li>Hate speech, discriminatory jokes, threats, targeted harassment.</li>
    <li>Extreme gore, sadistic content, or animal cruelty.</li>
    <li>Illegal activities, including drug use and cybercrime.</li>
    <li>Promoting suicide or self-harm.</li>
    <li>Advertisements or links to any external content.</li>
    <li>Content pretending to be created by the Rumble Royale team.</li>
    <li>Spreading false information.</li>
  </ul>
  <strong>Recommendations:</strong>
  <ul>
    <li>Adhere to all applicable laws and regulations.</li>
    <li>Avoid copying official Rumble Royale eras.</li>
    <li>Do not use copyrighted content.</li>
    <li>Do not directly copy custom eras of other servers. Be creative!</li>
  </ul>
  <p>
    We reserve the right to deny access to custom eras for individuals or servers if any of the
    above rules are violated. The Rumble Royale team reserves the right to notify you to make
    changes to your content, and you must comply with these requests. Additionally, the team
    reserves the right to claim any content uploaded as their own.
  </p>

  <h2>Is there a limit to how many custom eras can one server have uploaded?</h2>
  <p>
    A server can have 10 uploaded custom eras at once. We may reconsider the limit in the future.
  </p>

  <h2>How do official and custom eras differ?</h2>
  <p>
    <strong>Official</strong> eras are created by the Rumble Royale team. Official eras contain
    unlockable content and are tied to the bot progression. Items and their skins are obtainable in
    season passes, backpacks or purchasable. Once you unlock the era, you can start it in any
    server. The era always has one item available to everyone and the rest has to be unlocked.
  </p>
  <p>
    <strong>Custom</strong> eras are purely cosmetic and server specific. All weapons in the era are
    unlocked for everyone by default. Custom eras are started through a separate command and it's
    entirely on the specific server staff team to allow or deny access to members. Rumble Royale
    team isn't responsible for those eras, but they are still subject to moderation and our rules.
  </p>

  <h2>Can custom eras be shared between servers?</h2>
  <p>
    While the bot doesn't have such a feature, you are free to share your custom era files with
    other servers!
  </p>

  <h2>I saw a custom era that I didn't like, what can I do?</h2>
  <p>
    Was it breaking rules? Did it contain something offensive? Let us know in our
    <a href="https://discord.gg/EGUgz5EZVp">Discord server</a>.
  </p>

  <h2>I lost my custom era files or my server. Can I retrieve my custom eras?</h2>
  <p>
    Don't worry, we have all custom eras safely stored. Contact us through our
    <a href="https://discord.gg/EGUgz5EZVp">Discord server</a> and we will recover your content.
  </p>

  <h2>I added emoji to my custom era but it's not displaying properly. How do I fix that?</h2>
  <p>
    If you used a Discord emoji, make sure the bot is in the same server as the emoji. It will not
    be able to access it otherwise.
  </p>
</div>
