@import "../../../variables.less";

.info {
    display: inline-flex;
    
    mat-icon {
        width: 30px;
        margin-right: 5px;
        color: @primary-color;
    }
}

mat-form-field {
    min-width: 90%;
    max-width: 90%;
}

.buttons button {
    margin-right: 1em;
}
